on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 5
    - name: TruffleHog
      uses: trufflesecurity/trufflehog@main
      with:
        # Repository path
        path: .
        # Start scanning from here (usually main branch).
        base: master
        # Scan commits until here (usually dev branch).
        #head: # optional
        # Extra args to be passed to the trufflehog cli.
        extra_args: --log-level=2 --results=verified,unknown
