on:
  push:
    branches:
      - master
  pull_request:

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - run: pwd; ls
        #test
    - name: TruffleHog OSS
      uses: trufflesecurity/trufflehog@v3.92.4
      with:
        path: .
    - run: pwd; ls